<div class="register">
  <div class="container register_page">
    <div class="row register_row">
      <div class="col-md-6 reg_image">
        <img class="img-fluid register_page_image" src="assets/images/marraige.jpg ">
      </div>
      <div class="col-md-6 register_form_start">
        <div class="reg_para">
          <p class="register_login">Already a member ? <a routerLink="/login">Login</a></p>
        </div>
        <div class="reg_head">
          <h6>Register Free</h6>
        </div>
        <div class="register_form register_profile_flex_1">
          <label class="register_profile_flex_2">Matrimony Profile For</label>
          <select class="register_profile_flex_3 form-control">
            <option>Myself</option>
            <option>Son</option>
            <option>Daughter</option>
            <option>Brother</option>
            <option>Brother</option>
            <option>Sister</option>
            <option>Relation</option>
            <option>Friend</option>
          </select>
        </div>
        <div class="register_profile_flex_1">
          <label class="register_profile_flex_2">Name</label>
          <input type="text" class="register_profile_flex_3 form-control">
        </div>
        <div class="register_profile_flex_1">
        <div class="register_profile_flex_gender">
          <label class="register_profile_flex_2">Gender</label>
        </div>
        <div class="register_profile_flex_gender_radiobtn">
          <input type="radio" name="gender" class="register_profile_flex_gender1"> Male
          <input type="radio" name="gender" class="register_profile_flex_gender2"> Female
        </div>
      </div>
      <div class="register_profile_flex_1">
        <div class="register_profile_flex_1">
          <label class="register_profile_flex_2">Date of birth</label>
        </div>
        <div class="register_profile_flex_dob">
          <select class="register_profile_dob1 form-control">
            <option>DD</option>
          </select>
          <select class="register_profile_dob2 form-control">
            <option>MM</option>
          </select>
          <select class="register_profile_dob3 form-control">
            <option>YYYY</option>
          </select>
        </div>
      </div>
      <div class="register_profile_flex_1">
        <label class="register_profile_flex_2">Religion</label>
        <select class="register_profile_flex_3 form-control ">
          <option>Select your Religion</option>
        </select>
      </div>
      <div class="register_profile_flex_1">
        <label class="register_profile_flex_2">Mother Toungue</label>
        <select class="register_profile_flex_3 form-control ">
          <option>Select your mother tongue</option>
        </select>
      </div>
      <div class="register_profile_flex_1">
        <label class="register_profile_flex_2">Caste/Division</label>
        <select class="register_profile_flex_3 form-control ">
          <option>Select Caste/Division</option>
        </select>
      </div>
      <div class="register_profile_flex_1">
        <label class="register_profile_flex_2">Country living in</label>
        <select class="register_profile_flex_3 form-control ">
          <option>Select your Country</option>
        </select>
      </div>
      <div class="register_profile_flex_mob">
        <label class="register_profile_flex_mob1">Mobile Number</label>
        <div class="register_profile_flex_mob2">
          <select class="register_profile_flex_mob3 form-control">
            <option>Country code</option>
          </select>
        </div>
        <div class="register_profile_flex_1">
          <input type="text" class="register_profile_flex_2 form-control">
        </div>
      </div>
      <div class="register_profile_flex_1">
        <label class="register_profile_flex_2">Email</label>
        <input type="text" class="register_profile_flex_3 form-control">
      </div>
      <div class="register_profile_flex_1">
        <label class="register_profile_flex_2">Login Password</label>
        <input type="text" class="register_profile_flex_3 form-control">
      </div>
      <div class="register_profile_flex_1"></div>
    </div>
  </div>
</div>
</div>
